@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,200;1,600&family=Raleway:wght@100&family=Righteous&family=Stint+Ultra+Condensed&family=Ubuntu:wght@300;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@500&family=Poppins:ital,wght@0,200;0,900;1,600&family=Raleway:wght@100&family=Righteous&family=Stint+Ultra+Condensed&family=Ubuntu:wght@300;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.filter-container{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgba(10, 9, 9, 0.279); */
  background-image: linear-gradient( rgb(232, 12, 118),rgba(8, 8, 8, 0.68) );
}
.popular-movies{
  margin: 5% 10% 0 10%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.60fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  font-family: 'Poppins', sans-serif;
 
  
}

.movie-card{
  font-size: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #050100;
  font-family: 'Poppins', sans-serif;
  padding: 20px 0px 20px 15px;
  color:#262424;
  font-weight: 300;
  
}

.card{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

button{
  /* display: flex-row;
  justify-content: space-between; */
  color: #262424;
  background-color: rgba(255, 255, 255, 0.008) ;
  border: none;
  padding:12px 70px 5px 55px;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  margin: 2% 10% 2% 2%;
  font-size: larger;

}
button:hover{
  color:rgb(232, 12, 118);
  font-weight: 900;
}
/* needs finishing so just using react modal template for now */
.modal{
  width: 500px;
  height: 400px;
  padding: 0rem 2rem;
  border-radius: 12px;
  background-color: #262424;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 50px 30px;
  position: absolute;
}

.text{
  padding: 20px 200px 0px 50px;
  font-family: 'Poppins', sans-serif;
  font-size: small;
}

.close{
  font-family: 'Open Sans', sans-serif;
  padding: 0px 
}